.ProductList-innerImageWrapper {
	float: left;
	width: 20%;
}
.ProductList-innerImageWrapper img {
    flex-shrink: 0;
    width: 100%;
}
.ProductList-meta {
	float: left;
	width: 75%;
	margin-left:20px;
	font-family: proxima-nova;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	letter-spacing: .02em;
	line-height: 1.2em;
	text-transform: none;
	text-align: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
