.ProductList-innerImageWrapper {
	float: left;
	width: 20%;
}
.ProductList-innerImageWrapper img {
    flex-shrink: 0;
    width: 100%;
}
.ProductList-meta {
	float: left;
	width: 75%;
	margin-left:20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
